{% extends 'base.html.twig' %}

{% block title %}Hello ForumController!{% endblock %}

{% block body %}

<section class="articles">

    {% for article in articles %}
        <article>
            <h2>{{ article.titre }}</h2>
            <strong><div class="metadata">Ecrit le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i')}}
            dans la catégorie {{ article.categorie.titre }}</div></strong>
            <br>
            <div class="content">
                <img src="{{ article.image }}" alt="">
                {{ article.contenu | raw | slice(0, 200)  }}...
                </br></br>
                <a href = "{{ path('forum_show', {'id': article.id}) }}" class="btn btn-primary">Lire la suite</a>
            </div>
        </article>
        <hr>   
    {% endfor %}
    

</section>

{% endblock %}
